<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </link>
</head>

<body>
<div class="wrapper">
    <div class="top-banner">
        <% include ../partials/header.ejs %>
    </div>
    <div class="flat-title">
        <div class="user-photo"><img src="<%= displayPhoto %>" class="user-image"> </div>
        <div class="user-desc">
            <div class="preferred-suburb"> <p>Prefered Suburb: <%= address %></div>
            <div class="prefered-rent-range"> <p>Price Range <%= rent %> p/week</div>
            <div class="occupation-details"> <p>Studying: <%= occupationDetails %></div>
            <div class="extra-details"> <p>Details <%= extraDetails %> </div>
        </div>
        <div class="flat-info">
            <div class="profile-name"> <%= userName %> </div>
            <div class="profile-age"> <%= userAge %> </div>
            <div class="profile-occupation"> <%= userOccupation %> </div>
        </div>
    </div>
    <div class="genius-playlist">
        <p class="genius-playlist"> Genius Playlist</p>
        <table>
            <tr class="table-labels">
                <td>Title</td>
                <td>Artist</td>
                <td>Album</td>
            </tr>
            <% for(var i = 0; i < songs.length; i++){ %>
            <tr>
                <td><%= songs[i].name %></td>
                <td><%= songs[i].artists %></td>
                <td><%= songs[i].album %></td>
            </tr>
            <% } %>
        </table>
    </div>
    <div class="spotify-info">
        SOME GRAPHS

    </div>
</div>
</body>
</html>
